/*style.css*/
body {
  display: block;  
  gap: 20px;
  justify-content: center;
}
article{
  display: flex;
  align-items: flex-start;
}
form {
  border: 1px solid #ccc;  
  padding: 10px;  
  width: 200px;
}